snippet html
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8"/>
			<title>${1:title}</title>
			<link rel="icon" href="${2:url_of_favicon}" type="image/png"/>
		</head>
		<body>
			$0
		</body>
	</html>
